In [1]:
import pandas as pd

In [13]:
weather_data ={
    'day': ['1/1/2022','1/2/2022','1/3/2022','1/4/2022','1/5/2022','1/6/2022'],
    'temperature': [32,35,33,32,34,36],
    'windspeed': [6,7,8,7,5,4],
    'event': ['Rain','Sunny','Snow','Rain','Sunny','Snow']
    
}

df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2022           32          6   Rain
1  1/2/2022           35          7  Sunny
2  1/3/2022           33          8   Snow
3  1/4/2022           32          7   Rain
4  1/5/2022           34          5  Sunny
5  1/6/2022           36          4   Snow

In [14]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2022           32          6   Rain
1/2/2022           35          7  Sunny
1/3/2022           33          8   Snow
1/4/2022           32          7   Rain
1/5/2022           34          5  Sunny
1/6/2022           36          4   Snow

In [15]:
df

        day  temperature  windspeed  event
0  1/1/2022           32          6   Rain
1  1/2/2022           35          7  Sunny
2  1/3/2022           33          8   Snow
3  1/4/2022           32          7   Rain
4  1/5/2022           34          5  Sunny
5  1/6/2022           36          4   Snow

In [16]:
df.set_index('day', inplace = True)
df

          temperature  windspeed  event
day
1/1/2022           32          6   Rain
1/2/2022           35          7  Sunny
1/3/2022           33          8   Snow
1/4/2022           32          7   Rain
1/5/2022           34          5  Sunny
1/6/2022           36          4   Snow

In [17]:
df[['temperature']]

          temperature
day
1/1/2022           32
1/2/2022           35
1/3/2022           33
1/4/2022           32
1/5/2022           34
1/6/2022           36

In [18]:
df['temperature']

day
1/1/2022    32
1/2/2022    35
1/3/2022    33
1/4/2022    32
1/5/2022    34
1/6/2022    36
Name: temperature, dtype: int64

In [19]:
df.shape

(6, 3)

In [20]:
df.size

18

In [21]:
df.ndim

2

In [23]:
df.head()

          temperature  windspeed  event
day
1/1/2022           32          6   Rain
1/2/2022           35          7  Sunny
1/3/2022           33          8   Snow
1/4/2022           32          7   Rain
1/5/2022           34          5  Sunny

In [24]:
df.tail(3)

          temperature  windspeed  event
day
1/4/2022           32          7   Rain
1/5/2022           34          5  Sunny
1/6/2022           36          4   Snow

In [27]:
df.columns

Index(['temperature', 'windspeed', 'event'], dtype='object')

In [30]:
df['temperature']

day
1/1/2022    32
1/2/2022    35
1/3/2022    33
1/4/2022    32
1/5/2022    34
1/6/2022    36
Name: temperature, dtype: int64

In [32]:
df.set_index('event', inplace = True)

In [33]:
df

       temperature  windspeed
event
Rain            32          6
Sunny           35          7
Snow            33          8
Rain            32          7
Sunny           34          5
Snow            36          4

In [35]:
df.reset_index(inplace = True)

In [36]:
df

   event  temperature  windspeed
0   Rain           32          6
1  Sunny           35          7
2   Snow           33          8
3   Rain           32          7
4  Sunny           34          5
5   Snow           36          4

In [37]:
df.set_index('event', inplace = True)
df

       temperature  windspeed
event
Rain            32          6
Sunny           35          7
Snow            33          8
Rain            32          7
Sunny           34          5
Snow            36          4

In [38]:
df.loc['Snow']

       temperature  windspeed
event
Snow            33          8
Snow            36          4